<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    
    <!-- Storage permissions using scoped storage approach -->
    <!-- Legacy permissions for Android 9 and below -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="29" 
        tools:ignore="ScopedStorage" />
    
    <!-- Modern granular permissions for Android 13+ (API 33+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    
    <!-- Only request MANAGE_EXTERNAL_STORAGE if absolutely necessary and approved by Play Store -->
    <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" 
        tools:ignore="ScopedStorage" /> -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BoardgameInventory"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        
        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BoardgameInventory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.AddGameActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".ui.GameListActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".ui.GameDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.GameListActivity" />
            
        <activity
            android:name=".ui.EditGameActivity"
            android:exported="false"
            android:parentActivityName=".ui.GameDetailActivity" />
            
        <activity
            android:name=".ui.BulkUploadActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".ui.LoanGameActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".ui.ReturnGameActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".ui.ExportImportActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".ui.DatabaseManagementActivity"
            android:exported="false"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/Theme.BoardgameInventory"
            android:parentActivityName=".MainActivity"
            android:label="Database Management (Developer Mode)" />
            
        <activity
            android:name=".ui.DeveloperSettingsActivity"
            android:exported="false"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.BoardgameInventory"
            android:parentActivityName=".MainActivity"
            android:label="Developer Settings" />

        <!-- Database maintenance service -->
        <service
            android:name=".service.DatabaseMaintenanceService"
            android:exported="false"
            android:enabled="true" />

    </application>

</manifest>
